{% extends "layout.html"%}
{% block content%}
<div class="container">
    <form action="/citas">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="valid-feedback">Nombre</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group col-md-6">
            <label for="valid-feedback">Apellido</label>
            <input type="text" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group col-md-6"></div>
          <label for="valid-feedback">Documento de Identidad</label>
          <input type="text" class="form-control" placeholder="Ej. 10.456.4532.8" aria-describedby="passwordHelpBlock" required>
          <small id="passwordHelpBlock" class="form-text text-muted">
            Su Documento debe tener máximo 10 digitos.
          </small>
        </div>
        <div class="form-group">
          <label for="valid-feedback">Fecha de Nacimiento</label>
          <input type="date" class="form-control" required>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="valid-feedback">Ciudad</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group col-md-4">
            <label for="valid-feedback">Barrio</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group col-md-2">
            <label for="valid-feedback">Celular</label>
            <input type="text" class="form-control" required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</div>
{% endblock %}