{% extends "layout.html"%}
{% block content %}
    <h1 style="text-align: center;">Citas Asignadas</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Documento</th>
            <th scope="col">Fecha</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Barrio</th>
            <th scope="col">Celular</th>
          </tr>
        </thead>
        <tbody>
            {% for perro in quotes %} <!--Se puede utilizar cualquier palabra, en este caso "perro"-->
            <tr> 
                <td>{{perro.0}}</td>
                <td>{{perro.1}}</td>
                <td>{{perro.3}}</td>
                <td>{{perro.4}}</td>
                <td>{{perro.5}}</td>
                <td>{{perro.6}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}